@using AllPawTemplate.Models
@model DetailResponse

@{
    ViewData["Title"] = "AdvertDetail";
    Layout = "~/Views/Shared/Layout/HomeLayout/HomeLayout.cshtml";
}

<head>
    <style>
        .tblüst {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid gray;
            border-top: 3px solid black;
        }

            .tblüst th, .tblüst td {
                text-align: left;
                padding: 10px;
                border: 1px solid gray;
                color: black;
            }

            .tblüst tr:nth-child(even) {
                background-color: gray;
            }

        .tblalt {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid gray;
            border-bottom: 3px solid black;
        }

            .tblalt th, .tblalt td {
                text-align: left;
                padding: 10px;
                color: black;
            }

            .tblalt tr:nth-child(even) {
                background-image: linear-gradient(to right,#f9d1e1,#f8dfbc);
            }

        .tblortasag {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid gray;
            border-bottom: 3px solid black;
        }

            .tblortasag th, .tblortasag td {
                text-align: left;
                padding: 10px;
                color: black;
                border: 1px solid gray
            }

            .tblortasag tr:nth-child(even) {
                background-image: white;
            }

        .tblaltssag {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid black;
            border-radius: 10px;
        }

            .tblaltssag th, .tblaltssag td {
                text-align: left;
                padding: 10px;
                color: black;
                background-image: linear-gradient(to right,#f9d1e1,#f8dfbc);
            }

        .image-button {
            display: inline-block;
            border: 2px dotted black;
            cursor: pointer;
            background-color: transparent;
            border-radius: 10px;
            overflow: hidden;
            transition: transform 0.3s;
        }

            .image-button img {
                width: 100%;
                height: auto;
                border-radius: 10px;
            }

            .image-button:hover {
                transform: scale(1.1);
            }

        .watermark {
            position: absolute;
            top: 140px;
            left: 130px;
            z-index: 1; /* Diğer içeriklerin üzerine gelecek */
            pointer-events: none; /* Tıklamaları engelle */
        }

            .watermark img {
                opacity: 0.2;
                transform: rotate(-35deg);
            }

        .nav-link img {
            max-width: 100%; /* Resim maksimum genişlik olarak butonun içine sığacak */
            max-height: 100px; /* Resim maksimum yükseklik olarak 100 piksel */
        }

        .pati-button {
            border: none; 
             background: none;
             cursor: pointer;
         }

         #patigeriButton img,
         #patiileriButton img {
             border-radius: 50%;
             width: 75px;
             height: 75px; 
         }

         #patiileriButton img {
             float: right; 
        }

        #patigeriButton:hover, #patiileriButton:hover {
            transform: scale(0.9);
        }
    </style>
</head>
<div class="container">
    <div class="row">
        <div class="col-md-1">
            <button onclick="/AdvertDetail/AdvertDetail?advertId=@Model.Advert.AdvertId - 1" id="patigeriButton" class="pati-button">  <img src="~/HPimage/scroll-button.png" style="transform:rotate(-90deg)" alt="Geri"></button>
        </div>
        <div class="col-md-10">
        </div>
        <div class="col-md-1">
            <button onclick="/AdvertDetail/AdvertDetail?advertId=@Model.Advert.AdvertId + 1" id="patiileriButton" class="pati-button">  <img src="~/HPimage/scroll-button.png" style="transform:rotate(90deg)" alt="İeri"></button>
        </div>
    </div>
</div>
<div class="shop-details-page pt-100 mb-120">
    <div class="container">
        <div class="row g-lg-4 gy-5 mb-120">
            <div class="col-lg-7">

                <div class="tab-content tab-content1" style="background-image:linear-gradient(to right,#f9d1e1,#f8dfbc)" id="v-pills-tabContent">
                    <div class="tab-pane fade active show" id="v-pills-img1" role="tabpanel" aria-labelledby="v-pills-img1-tab">
                        <img class="img-fluid" src="@Model.Advert.AdvertPhoto" width="341" height="717" alt="">
                    </div>                    
                    <div class="tab-pane fade" id="v-pills-img2" role="tabpanel" aria-labelledby="v-pills-img2-tab">
                        <img class="img-fluid" src="~/html-files/assets/images/bg/shop-big-02.png" alt="">
                    </div>
                    <div class="tab-pane fade" id="v-pills-img3" role="tabpanel" aria-labelledby="v-pills-img3-tab">
                        <img class="img-fluid" src="~/html-files/assets/images/bg/shop-big-03.png" alt="">
                    </div>
                    <div class="tab-pane fade" id="v-pills-img4" role="tabpanel" aria-labelledby="v-pills-img4-tab">
                        <img class="img-fluid" src="~/html-files/assets/images/bg/shop-big-04.png" alt="">
                    </div>
                    <div class="tab-pane fade" id="v-pills-img5" role="tabpanel" aria-labelledby="v-pills-img5-tab">
                        <img class="img-fluid" src="~/html-files/assets/images/bg/shop-big-05.png" alt="">
                    </div>
                </div>
                <div class="watermark">
                    <img class="watermark" src="~/HPimage/HpLogo.png" />
                </div>
                <div class="nav nav1 nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-img1-tab" data-bs-toggle="pill" data-bs-target="#v-pills-img1" type="button" role="tab" aria-controls="v-pills-img1" aria-selected="true">
                        <img src="@Model.Advert.AdvertPhoto" alt="">
                    </button>
                    <button class="nav-link" id="v-pills-img2-tab" data-bs-toggle="pill" data-bs-target="#v-pills-img2" type="button" role="tab" aria-controls="v-pills-img2" aria-selected="false">
                        <img src="@Model.Advert.AdvertPhoto" alt="">
                    </button>
                    <button class="nav-link" id="v-pills-img3-tab" data-bs-toggle="pill" data-bs-target="#v-pills-img3" type="button" role="tab" aria-controls="v-pills-img3" aria-selected="false">
                        <img src="~/html-files/assets/images/bg/shop-sm-03.png" alt="">
                    </button>
                    <button class="nav-link" id="v-pills-img4-tab" data-bs-toggle="pill" data-bs-target="#v-pills-img4" type="button" role="tab" aria-controls="v-pills-img4" aria-selected="false">
                        <img src="~/html-files/assets/images/bg/shop-sm-04.png" alt="">
                    </button>
                    <button class="nav-link" id="v-pills-img5-tab" data-bs-toggle="pill" data-bs-target="#v-pills-img5" type="button" role="tab" aria-controls="v-pills-img5" aria-selected="false">
                        <img src="~/html-files/assets/images/bg/shop-sm-05.png" alt="">
                    </button>
                </div>
            </div>

            <div class="col-lg-3">
                <table class="tblüst">
                    <tr>
                        <th><center>İlan Detayları</center></th>
                    </tr>
                </table>
                <table class="tblalt">
                    <tr>
                        <td><b>Fiyat</b></td>
                        <td><b><font size="4">: </font> </b>@Model.Advert.FormattedPrice</td>
                    </tr>
                    <tr>
                        <td><b>İlon No</b></td>
                        <td><b><font size="3">: </font> </b>@Model.Advert.AdvertId</td>
                    </tr>
                    <tr>
                        <td><b>Türü</b></td>
                        <td><b><font size="3">: </font> </b>@Model.Advert.CategoryName</td>
                    </tr>
                    <tr>
                        <td><b>Yaşı</b></td>
                        <td><b><font size="3">: </font> </b>@Model.Advert.Year Yaşında</td>
                    </tr>
                    <tr>
                        <td><b>Cinsiyeti</b></td>
                        <td><b><font size="4">: </font> </b>@Model.Advert.Gender</td>
                    </tr>
                    <tr>
                        <td><b>İlan Tarihi</b></td>
                        <td><b><font size="4">: </font> </b>@Model.Advert.CreationDate</td>
                    </tr>
                    <tr>
                        <td><b>Görüntülenme Sayısı</b></td>
                        <td><b><font size="4">: </font> </b>@Model.Advert.ViewCount</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-2">
                <table class="tblüst">
                    <tr>
                        <th><center>İlan Sahibi Bilgileri</center></th>
                    </tr>
                </table>


                <table class="tblortasag">

                    <tr>
                        <th><center><img src="@Model.User.ProfilePhoto" width="100" height="100" style="border-color:black 3px solid" /></center></th>

                    </tr>
                    <tr>
                        <td><b>@Model.User.FirstName @Model.User.LastName</b></td>

                    </tr>

                </table>
                <br />

                <table class="tblaltssag">
                    <tr>
                        <th><center><i>Mesaj Atmak için !</i><button class="image-button"><img src="~/HPimage/WhatsApp2.png" width="160" height="40" /></button></center></th>
                    </tr>
                </table>
                <br />
                <table class="tblaltssag">
                    <tr>
                        <th><i class="fa fa-exclamation-circle" aria-hidden="true"></i>@Model.Advert.CreationDate</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row mb-120">
            <div class="col-lg-12">
                <div class="nav nav2 nav  nav-pills" id="v-pills-tab2" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                            aria-selected="false">
                        Açıklama
                    </button>

                    <button class="nav-link" id="v-pills-common-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-common" type="button" role="tab" aria-controls="v-pills-common"
                            aria-selected="true">
                        Yorumlar
                    </button>
                </div>

                <div class="tab-content tab-content2" id="v-pills-tabContent2">
                    <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="description">
                            <p class="para-2 mb-3">@Model.Advert.Description</p>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-common" role="tabpanel" aria-labelledby="v-pills-common-tab">
                        <div class="reviews-area">
                            <div class="row g-lg-4 gy-5">
                                <div class="col-lg-8">
                                    <div class="number-of-review">
                                        <h3>Yapılan Yorum Sayısı (dinamik) </h3>
                                    </div>
                                    <div class="review-list-area">
                                        <ul class="review-list">
                                            <li>
                                                <div class="single-review d-flex justify-content-between flex-md-nowrap flex-wrap">
                                                    <div class="review-image">
                                                        <img src="~/html-files/assets/images/bg/review-img-1.png" alt="image">
                                                    </div>
                                                    <div class="review-content">
                                                        <div class="c-header d-flex align-items-center">
                                                            <div class="review-meta">
                                                                <h5 class="mb-0"><a href="#">Yorum Yapanın İsmi</a></h5>
                                                                <div class="c-date">YYorum Tarihi</div>
                                                            </div>
                                                            <div class="replay-btn">
                                                                <a href="#"><i class="bi bi-reply"></i>Yanıtla</a>
                                                            </div>
                                                        </div>
                                                        <ul class="product-review">
                                                            <li><i class="bi bi-star-fill"></i></li>
                                                            <li><i class="bi bi-star-fill"></i></li>
                                                            <li><i class="bi bi-star-fill"></i></li>
                                                            <li><i class="bi bi-star-fill"></i></li>
                                                            <li><i class="bi bi-star-fill"></i></li>
                                                        </ul>
                                                        <div class="c-body">
                                                            <p> Yapılan Yorum Dinamik xxxxxxxxx xxxxxxxx xxx xxxx xxxxxx xxxxx xxx xxxxxx xxx</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="review-form">
                                        <div class="number-of-review">
                                            <h3>Satıcı Hakkında Yorum Yap</h3>
                                        </div>
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-inner mb-20">
                                                        <input type="text" placeholder="Name*" required="">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-inner mb-20">
                                                        <input type="email" placeholder="Email*" required="">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-inner mb-10">
                                                        <textarea placeholder="Message..."></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-inner2 mb-30">
                                                        <div class="review-rate-area">
                                                            <p>Your Rating</p>
                                                            <div class="rate">
                                                                <input type="radio" id="star5" name="rate" value="5">
                                                                <label for="star5" title="text">5 stars</label>
                                                                <input type="radio" id="star4" name="rate" value="4">
                                                                <label for="star4" title="text">4 stars</label>
                                                                <input type="radio" id="star3" name="rate" value="3">
                                                                <label for="star3" title="text">3 stars</label>
                                                                <input type="radio" id="star2" name="rate" value="2">
                                                                <label for="star2" title="text">2 stars</label>
                                                                <input type="radio" id="star1" name="rate" value="1">
                                                                <label for="star1" title="text">1 star</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-inner two">
                                                        <button>Yorum Yap</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex flex-wrap align-items-center justify-content-md-between justify-content-start gap-2 mb-60">
                <div class="inner-section-title">
                    <h2>Üyenin Diğer İlanları</h2>
                </div>
                <div class="swiper-btn-wrap d-flex align-items-center">
                    <div class="slider-btn prev-btn-12">
                        <i class="bi bi-arrow-left"></i>
                    </div>
                    <div class="slider-btn next-btn-12">
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
        @foreach (var advert in Model.User.Adverts)
        {
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="collection-card">
                    <div class="collection-img" style="background-color:white">
                        <img class="img-gluid" src="@advert.AdvertPhoto" width="213" , height="213" alt="">
                        <div class="view-dt-btn">
                            <div class="plus-icon">
                                <i class="bi bi-plus"></i>
                            </div>
                            <a href="/AdvertDetail/AdvertDetail">View Details</a>
                        </div>
                        <ul class="cart-icon-list">
                            <li><a href="cart.html"><img src="~/html-files/assets/images/icon/Icon-cart3.svg" alt=""></a></li>
                            <li><a href="#"><img src="~/html-files/assets/images/icon/Icon-favorites3.svg" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="collection-content text-center">
                        <h4><a href="/AdvertDetail/AdvertDetail?advertId=@advert.AdvertId">@advert.Title</a></h4>
                        <div class="price">
                            <h6>@advert.Price.ToString("N").Replace(",00", "")</h6>
                        </div>
                        <div class="review">
                            <ul>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                            </ul>
                            <span>Oylama Sayısı</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


